[Unit]
Description=myRPC-server
After=network.target

[Service]
Type=simple
# Указать /полный/путь/до/myRPC-server!!
ExecStart=
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
